footer{
    color: #495057;
    border-radius: 10px;
    border: solid 2px #dee2e6;
    background-color: rgb(33, 157, 179);;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

footer a{
    color: black;
}