<app-header></app-header>


<div class="bubbles" [class]="couleurBackground">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="centrer">
        <div class="container">
            <h2>Tous les moyens de me joindre</h2>
            <hr>
            <p>Vous pouvez me contacter par mail ici : <a href="mailto:lilian.ballejos@etu.uca.fr">lilian.ballejos@etu.uca.fr</a></p>
            <p>Ou me retrouver sur ces différentes plateformes :</p>
            <div class="boite-reseau">
                <a href="https://github.com/LIlianHub" target="new"><i class="pi pi-github" style="font-size: 2rem"></i>GitHub</a>
                <a href="https://linkedin.com/in/lilian-ballejos" target="new"><i class="pi pi-linkedin" style="font-size: 2rem"></i>LinkedIn</a>
            </div>
        </div>
    </div>
    <app-boite-mail></app-boite-mail>
</div>

<app-footer></app-footer>