<p-toast></p-toast>
<div class="centrer">
    <div class="container">
        <h2>Me Contacter</h2>
        <div>
            <form [formGroup]="FormData" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="sujet">Sujet</label>
                    <input type="text" class="form-control" name="Sujet" placeholder="Entrer un sujet"
                        formControlName="Sujet" pInputText>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" name="Email" aria-describedby="emailHelp"
                        placeholder="Entrer une adresse mail" formControlName="Email" pInputText>
                </div>
                <div class="form-group">
                    <label for="comment">Votre Message</label>
                    <textarea [rows]="5" [cols]="30" class="form-control" formControlName="Comment" name="Comment" pInputTextarea
                        [autoResize]="true"></textarea>
                </div>
                <div class="form-group">
                    <p-captcha siteKey="6LfTJ-AiAAAAAHSKmiGjjk8ULVCwYHtUQ4slZD7X" (onExpire)="resetResultCaptcha()"
                        (onResponse)="showResponse($event)"></p-captcha>
                </div>
                <p-button type="submit" label="Submit" [disabled]="!FormData.valid || repCapctha == ''"
                    icon="pi pi-check"></p-button>
            </form>
        </div>
    </div>
</div>