@import "../accueil/accueil.component.scss";

.boite-accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
    border: 1px solid rgba(204, 216, 218, 0.404);
    width: 75%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.521);
    text-align: justify;
    padding: 20px;
}

.boite-accueil a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}



.boite-accueil a:hover{
    text-decoration: underline;
    color:rgb(90, 90, 90);
}

.boite-accueil h2 {
    font-family: "Pour le titre";
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

}

.boite-accueil p {
    font-size: 1.5em;
    margin-bottom: 25px;

}

.boite-accueil h1 {
    font-family: "Pour le titre";
    font-size: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
    text-align: center;

}

.boite-img-txt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sous-boite-img-txt-img img {
    width: 80%;
    
}

.sous-boite-img-txt-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 20%;
}

.sous-boite-img-txt-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 80%;
}

.sous-boite-img-txt p {
    text-align: justify;
}
    

.boite-carrou {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boite-accueil hr{
    width: 30%;
    margin-top: 10px;
    margin-bottom: 30px;
}


@media only screen and (max-width: 960px) {

    .boite-accueil {
        width: 100%;
        height: inherit;
    }

    .boite-img-txt{
        flex-direction: column;
    }

    .sous-boite-img-txt-img img {
        width: 50%;
        margin-bottom: 20px;
        
    }
}

