<div class="boite-carrou">
    <div class="boite-accueil">
        <h1>Bienvenue sur mon site Web</h1>
        <h2>Présentation</h2>
        <hr>
        <p>Etidoant en deuxieme annee Etidoant en deuxieme annee Etidoant en deuxiem
            Etidoant en deuxieme anneeEtidoant en deuxieme anneeEtidoant en deuxieme annee
            Etidoant en deuxieme anneeEtidoant en deuxieme anneeEtidoant en deuxieme annee
            Etidoant en deuxieme anneeEtidoant en deuxieme anneeEtidoant en deuxieme annee
        </p>

    </div>
</div>