@import "../app.component.scss";

.context {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}



@media only screen and (max-width: 960px) {

  .context {
    display: inherit;
    height: 100%;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
  }


  ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
    display: none;
  }

  ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
    display: none;
  }

}